<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068475600072-hpjrpj4b87hvvef436g98ead6ogjvpgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068475600072-hpjrpj4b87hvvef436g98ead6ogjvpgj</string>
	<key>API_KEY</key>
	<string>AIzaSyDaC3OVEDbaCh4Jn2p-teu4N_rNt595JBs</string>
	<key>GCM_SENDER_ID</key>
	<string>1068475600072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>health.ai</string>
	<key>PROJECT_ID</key>
	<string>wonder-cycle-studio</string>
	<key>STORAGE_BUCKET</key>
	<string>wonder-cycle-studio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068475600072:ios:f88d87c940c618fa0869fd</string>
	<key>DATABASE_URL</key>
	<string>https://wonder-cycle-studio-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>